<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<!--<wsdl>http://vensumat.theworkpc.com/administracion_vst/Process_Service/ES_Process_Service.asmx?wsdl</wsdl>-->
	<wsdl>http://localhost/administracion/seguridad/Process_Service/ES_Process_Service.asmx?wsdl</wsdl>
	<wsdlAdmin>http://localhost/administracion/seguridad/Admin_Sistema/Admin_Sistema.asmx?wsdl</wsdlAdmin>
	<!--<wsdlAdmin>http://vensumat.theworkpc.com/administracion_vst/Admin_Sistema/Admin_Sistema.asmx?wsdl</wsdlAdmin>-->
	
	<wsdlServ>http://localhost/ws_servicios/registro.asmx?wsdl</wsdlServ>
	<wsdlReg>http://localhost/ws_servicios/service.asmx?wsdl</wsdlReg>
	<wsdlAdCred>http://localhost/ws_servicios_vst/servicioAdmonCred.asmx?wsdl</wsdlAdCred>
	<wsdlCat>http://localhost/ws_catalogos/service.asmx?wsdl</wsdlCat>
	<wsdlInc>http://localhost/ws_incentivos/ServicioIncentivos.asmx?wsdl</wsdlInc>
	
	<wsdlExpTxt>http://localhost/ws_reportes/TextExport.aspx</wsdlExpTxt>
	<wsdlFtp>http://localhost/ws_reportes/Uploader.ashx</wsdlFtp>
	<wsdlRep>http://localhost/ws_reportes/service.asmx?wsdl</wsdlRep>
	<wsdlRepCont>http://localhost/ws_reportes/serviceCont.asmx?wsdl</wsdlRepCont>
	
	<wsdlPdf>http://localhost/RptGenerado/default.aspx?</wsdlPdf>
	<wsdlInf>http://localhost/ws_informes?</wsdlInf>
	<wsdlExpXls>http://localhost/ExpExcel/ExcelLib.aspx</wsdlExpXls>
	
	<wsdlIncR>http://localhost/ws_incentivos/Registro.asmx?wsdl</wsdlIncR>
	<wsdlIncC>http://localhost/ws_incentivos/Consulta.asmx?wsdl</wsdlIncC>
    <wsdlIncI>http://localhost/ws_incentivos/Default.aspx?</wsdlIncI>
    
    <wsdlPcr>http://vensumat.theworkpc.com/ws_paycash_vst/Service.asmx?wsdl</wsdlPcr>
    <wsdlCC>http://localhost:52845/service.asmx?wsdl</wsdlCC>
    <wsdlEmail>http://localhost/ws_servicioMail/service.asmx?wsdl</wsdlEmail>
    <wsdlServUp>http://localhost/ws_archivos/Uploader.ashx</wsdlServUp>
    <wsdlServDocs>http://localhost/ws_archivos/Service.ashx</wsdlServDocs>
    <urlDocs>http://localhost/DOCS_VENSUMAT/</urlDocs>
</Configuration>